<!DOCTYPE html>
<html>
  <head>
    <title>Demo Shop</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <div><strong>Demo Shop</strong></div>
      <nav>
        <a href="/">Home</a>
        <a href="/cart">Cart</a>
        {% if session.username %}
        <span>Hello, {{ session.username }}!</span>
        <a href="/profile/{{ session.user_id }}">My Transactions</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
      </nav>
    </header>
    <div class="container">
      <h1>Welcome to the Demo Shop</h1>
      <h2>Products</h2>
      <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
          <h3>
            <a class="product-link" href="/product/{{ product[0] }}"
              >{{ product[1] }}</a
            >
          </h3>
          <p class="product-price">${{ product[2] }}</p>
          <p class="product-desc">{{ product[3] }}</p>
          <a href="/add_to_cart/{{ product[0] }}"
            ><button>Add to cart</button></a
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
